@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.bi {
    color: #012970;
}

body {
    font-family: "Open Sans", sans-serif;
}

.header {
    height: 60px;
    padding-left: 20px;
    box-shadow: 0px 2px 20px  #e9e4e4;
}

.brand {
    width: 280px;
}

.brand:hover {
    text-decoration: none;
}

.media-account .media-body-account .p-2:hover {
    text-decoration: none;
}

img {
    width: 24.5px;
    height: 26px;
}

.navbar-brand {
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: 'Nunito', sans-serif;
    margin-left: 6px;
}

.header .d-flex .list {
    font-size: 32px;
}

/* search-bar */
.searchBar {
    width: 360px;    
}

.border-search  {
    margin: auto;
    position: relative;
    border: 1px solid #C2C9D6;
    border-radius: 5px;
    padding: 5px;
    width: 320px;
}
input[type="text"] {
    background: white;
    border: none;
}
button[type="submit"] {
    background: white;
    border: none;
}

.search {
    border: none;
    padding: 0px 0px;
    
    color: #424242;
    width: 272px;
}
input[type="text"]:focus,
button[type="submit"]:focus {
    outline: none;
}

.icon-button {
    width: 52px;
}

.badge-bell{
    position: absolute;
    inset: 12px 233px auto auto;
    font-weight: normal;
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 5px;
    width: 18.3px;
    height: 17px;
}

.badge-contification{
    position: absolute;
    inset: 12px 182px auto auto;
    font-weight: normal;
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 5px;
    width: 18.3px;
    height: 17px;
}

.bell, .chat {
    font-size: 20px;
}

.media-account {
    width: 158.53px;
}

.media-account img {
    width: 36px;
    height: 36px;
}

.media-body-account span{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #012970;
}

.media-body-account .bi {
    font-size: 9px;
}

.wrapper {
    width: 300px;
    padding: 20px;
}

.active {
    width: 255px;
    padding: 10px 15px;
    margin-bottom: 5px;
    cursor: pointer;
}

.item {
    display: flex;
    align-items: center;
}
 
.item span {
    color: #012970;
    font-size: 15px;
    font-weight: 600;
}

.active:hover {
    background-color: #f6f9ff;
    border-radius: 4px;
}

.active:hover span,
.active:hover i {
    color: #4154f1;
}

.item:hover {
    text-decoration: none;
    color: #4154f1;
}


#first-active {
    background-color: #f6f9ff;
    border-radius: 4px;
    color: #4154f1;
}

#first-active .bi-item {
    font-size: 16px; 
    color: #4154f1;   
}

#first-active span {
    font-size: 15px;
    font-weight: 600;
}

.first-item {
    color: #4154f1;
    align-items: center;
}

.active .bi-item {
    margin-right: 10px;
    color: #899bbd;
}

.active .bi-down {
    color: #899bbd;
}

.text {
    font-size: 11px;
    margin: 10px 0px 5px 15px;
}

