@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.bi {
    color: #012970;
}

body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 0;
}

.header {
    padding-left: 20px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    height: 60px;
    position: relative;
    background-color: #FFF;
    z-index: 1;
}

.brand {
    width: 280px;
}

.brand:hover {
    text-decoration: none;
}

.media-account .media-body-account .p-2:hover {
    text-decoration: none;
}

img {
    width: 24.5px;
    height: 26px;
}

.navbar-brand {
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: 'Nunito', sans-serif;
    margin-left: 6px;
}

.header .d-flex .list {
    font-size: 32px;
    cursor: pointer;
    margin-left: 5px;
}

/* search-bar */
.searchBar {
    width: 360px;
}

.border-search  {
    margin: auto;
    position: relative;
    border: 1px solid #C2C9D6;
    border-radius: 5px;
    padding: 5px;
    width: 320px;
}
input[type="text"] {
    background: white;
    border: none;
}
button[type="submit"] {
    background: white;
    border: none;
}

.search {
    border: none;
    padding: 0px 0px;
    color: #424242;
    width: 272px;
}
input[type="text"]:focus,
button[type="submit"]:focus {
    outline: none;
}

.icon-button {
    width: 52px;
}

.badge-bell{
    position: absolute;
    inset: 12px 233px auto auto;
    font-weight: normal;
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 5px;
    width: 18.3px;
    height: 17px;
}

.badge-contification{
    position: absolute;
    inset: 12px 182px auto auto;
    font-weight: normal;
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 5px;
    width: 18.3px;
    height: 17px;
}

.bell, .chat {
    font-size: 20px;
}

.media-account {
    width: 158.53px;
}

.media-account img {
    width: 36px;
    height: 36px;
}

.media-body-account span{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #012970;
}

.media-body-account .bi {
    font-size: 9px;
}

<<<<<<< HEAD
/* .sidebar-wrap .list-unstyled {
    height: 100vh;
    width: 300px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    box-shadow: rgba(1, 41, 112, 0.1) 4px 0px 9px -1px;
    padding: 20px;
}

.sidebar-wrap.sidebar-show {
    left: -300px;
    height: 100vh;
}

.list-unstyled::-webkit-scrollbar {
    width: 5px;
    height: 50px;
}

.list-unstyled::-webkit-scrollbar-thumb {
    background: #aab7cf; 
}

.list-unstyled::-webkit-scrollbar-track {
    background: #fff; 
} */

.sidebar-wrap .list-unstyled {
=======
.wrapper .list-unstyled {
    height: 100vh;
>>>>>>> 59accfe44f49553a686410cb26d3f0c9299cf5a9
    width: 300px;
    height: 100vh;
    padding: 20px;
<<<<<<< HEAD
    position: absolute;
    left: 0px;
    transition: 0.4s all ease 0s;
    background-color: #fff;
    overflow: scroll;
    list-style-type: none;
}

.sidebar-wrap .sidebar-show {
    left: -300px;
}

.sidebar-wrap .list-unstyled::-webkit-scrollbar {
=======
    background-color: #fff;
    position: absolute;
    left: 0;
    box-shadow: 4px 0px 9px -1px rgba(1,41,112,0.1);
    transition: 0.4s all ease 0s;
}

.wrapper .sidebar-show {
    left: -300px;
    height: 100vh;
}

.wrapper .list-unstyled::-webkit-scrollbar {
>>>>>>> 59accfe44f49553a686410cb26d3f0c9299cf5a9
    width: 5px;
    height: 50px;
}

<<<<<<< HEAD
.sidebar-wrap .list-unstyled::-webkit-scrollbar-thumb {
    background: #aab7cf; 
}

.sidebar-wrap .list-unstyled::-webkit-scrollbar-track {
=======
.wrapper .list-unstyled::-webkit-scrollbar-thumb {
    background: #aab7cf; 
}

.wrapper .list-unstyled::-webkit-scrollbar-track {
>>>>>>> 59accfe44f49553a686410cb26d3f0c9299cf5a9
    background: #fff; 
}

.active {
    width: 255px;
    padding: 10px 15px;
    margin-bottom: 5px;
    cursor: pointer;
}

.item {
    display: flex;
    align-items: center;
}
 
.item span {
    color: #012970;
    font-size: 15px;
    font-weight: 600;
}

.active:hover {
    background-color: #f6f9ff;
    border-radius: 4px;
}

.active:hover span,
.active:hover i {
    color: #4154f1;
}

.item:hover {
    text-decoration: none;
}

.first-item:hover {
    text-decoration: none;
}

#first-active {
    background-color: #f6f9ff;
    border-radius: 4px;
    color: #4154f1;
}

#first-active .bi-item {
    font-size: 16px; 
    color: #4154f1;   
}

#first-active span {
    font-size: 15px;
    font-weight: 600;
}

.first-item {
    color: #4154f1;
    align-items: center;
}

.active .bi-item {
    margin-right: 10px;
    color: #899bbd;
}

.active .bi-down {
    color: #899bbd;
}

.text {
    font-size: 11px;
    margin: 10px 0px 5px 15px;
}

.main-body {
    margin-left: 300px;
    padding: 20px 30px;
    background: #F6F9FF;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: calc(100% - 300px);
    transition: 0.4s all ease 0s;
}
.main-body.sidebar-show {
    margin-left: 0;
    width: 100%;
<<<<<<< HEAD
}
=======
}
>>>>>>> 59accfe44f49553a686410cb26d3f0c9299cf5a9
